doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    style(type='text/css').
  body(style='margin:0; padding:0; background-color:#F2F2F2;')
    p The summary of the tasks completed can be seen below:
    center
      table(style='width:100%', cellspacing='0', cellpadding='0', border='1')
        thead
            tr
              th Name
              th Taskname
              th Action
        tbody
          each task in taskList
              tr
                td #{task.username}
                td #{task.taskname}
                td #{task.action}